<div class="training-card mt-3" >
  <div class="info">
    <h1>20'</h1>
    <div class="icone d-flex justify-content-around">
      <i class="fas fa-dumbbell"></i>
      <i class="fas fa-fire-alt"></i>
    </div>
  </div>
  <div class="main" style="background-image: url('<%= cl_image_path training.photos.first.key %>')">
    <h1> <%= training.name.upcase  %></h1>
  </div>
</div> 
