<div class="backcolor">
  <div class="container plan">
  <% if @training.video.attached? %>
      <div class="video-box">
        <%= cl_video_tag @training.video_url , style: 'width:100%; height:auto;', controls: ''%>
      </div>
      <% else %>
      <div class="video-box">
        <%= cl_image_tag @training.photo_url , style: 'width:100%; height:auto;', controls: ''%>
      </div>
    <% end %>
    <h1 class="text-center title">
        <%= @training.name %>
    </h1> 
    <div class="d-flex justify-content-around">
      <div class="training-info">
        <h2>20'</h2>
      </div>
      <div class="training-info">
        <div class="icone d-flex justify-content-around">
          <i class="fas fa-dumbbell"></i>
          <i class="fas fa-fire-alt"></i>
        </div>
      </div>
      <div class="training-info">
        <h2>EMOM</h2>
      </div>
    </div>
    <h2 class="mt-4">Description</h2> 
    <div id="summary">
      <p class="collapse mt-3 pt-2" id="collapseSummary">  Lorem ipsum dolor sit amet, consectetur adipisicing elit.Veritatis laboriosam mollitia autem at ab omnis iure quis asperiores inventore eos nam aut iusto officiis deserunt nihil, sequi tempore impedit quae?</p>
      <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
    </div>

    
  </div>
</div>  