.devise{
    min-height: 100vh;
    // background-color: rgba(0, 0, 0, 0.8);
    color: black;
    padding-top: 100px;
}
// .nav-wrapper{
//     background-color: rgba(0, 0, 0, 0.514) !important;
// }