// Import page-specific CSS files here.
@import "home";
@import "category_sweat";
@import "category_flow";
@import "plan_show";
@import "training_show";
@import "training_new";
@import "profile_show";
@import "devise";


h1 {
  color: white;
  font-family: Anton;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 53px;
  letter-spacing: 0.21em;
  /* identical to box height */
}

h2 {
  color: white;
  font-style: bold;
  font-weight: normal;
  font-size: 22px;
}

p {
  color: white;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.splide__slide  {
 min-width: 190px !important;
}