.carousel-container{
  height: 100vh;
}
.carousel{

 position: relative;
//  background-color: blue;
}

.carousel-item{
  // background-color: white;

  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  color: white;
  display: block !important;
}