.long-card {
  overflow: hidden;
  
  
  border-radius: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 0.8px solid #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 250px;
  min-height: 250px;
  
}



.long-card h2 {
  color: white;
  font-family: Anton;
  font-style: normal;
  font-weight: normal;

  letter-spacing: 0.11em;
    font-size: 22px;
    margin-top: 190px;

    text-align: center;

}



.long-card .long-card-infos {
  // padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.long-card-infos .long-card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
