
<div class="plan-card mt-5" style="background-image: linear-gradient(0,rgba(0,0,0,0.4),rgba(0,0,0,0)), url('<%= cl_image_path plan.photos.first.key  %>')"> 
  <div class="plan-card-infos">
    <div>
      <h2><%= plan.name  %></h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">3 Days</h2>
  </div>
</div>
